@import "tailwindcss";

:root {
  --main-theme: #ffff;
  --main-accent: #4901df;
  --main-border: #acacac;
  --disable: #adadad;
  --danger: #ff3030;
  --error-border: #ff4343;
  scroll-behavior: smooth;
}
